:root {
  --hamburger-bar-height: 0.3rem;
  --hamburger-bar-width: 3rem;
  --hamburger-gap: 0.6rem;
  --hamburger-radius: 0.3rem;
  --hamburger-height: calc(
    var(--hamburger-bar-height) * 3 + var(--hamburger-gap) * 2
  );
  --component-background: #222;
}

.dashboard-header {
  height: 8rem;
  width: 100vw;
  background: var(--component-background);
  box-shadow: var(--shadow-on-dark);
}

.dashboard-header_container {
  max-width: 118rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.6rem;
}

.dashboard-header_button-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.vertical-line {
  width: 0.1rem;
  height: 3.2rem;
  background: var(--text-on-dark);
  opacity: 0.1;
  margin-inline: 1.6rem;
}

.dropdown-menu_container {
  position: relative;
}

.dashboard-header_header_notification-icon {
  width: 3rem;
  height: 3rem;
  color: var(--text-on-dark);
  position: relative;
}

.dashboard-header_button {
  position: relative;
  margin: 1.6rem 0;
}

.update.dashboard-header_button::after {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: #ff0000;
  position: absolute;
  bottom: 0.3rem;
  right: 0rem;
  border-radius: 50%;
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  gap: 1.6rem;
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--light-component-background);
  width: max-content;
  box-shadow: var(--shadow-on-dark);
  padding: 1.6rem;
  border-radius: 0.9rem;
}

.open.dropdown-menu {
  display: flex;
}

.dropdown-menu_item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-on-light);
  font-family: var(--primary-font);
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
}

.dropdown-menu_item_icon {
  width: 2rem;
  height: 2rem;
  color: var(--text-on-light);
}

.hamburger-container {
  width: 4rem;
  height: 4rem;
  display: grid;
  place-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.hamburger {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  width: fit-content;
  height: var(--hamburger-height);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--hamburger-gap);
}

.hamburger-bar,
.hamburger::before,
.hamburger::after {
  border-radius: var(--hamburger-radius);
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: var(--hamburger-bar-width);
  height: var(--hamburger-bar-height);
  background: var(--text-on-dark);
  transform-origin: left center;
  transition: all 0.3s ease-in-out;
}

.hamburger-bar {
  width: var(--hamburger-bar-width);
  height: var(--hamburger-bar-height);
  background: var(--text-on-dark);
  transition: all 0.3s ease-in-out;
}

.hamburger.open .hamburger-bar {
  opacity: 0;
  transform: translateX(-200%);
}

.open.hamburger::before {
  transform: rotate(45deg);
  translate: -4px calc(var(--hamburger-bar-height) / -2);
  width: var(--x-width);
}

.open.hamburger::after {
  transform: rotate(-45deg);
  translate: -4px calc(var(--hamburger-bar-height) / 2);
  width: var(--x-width);
}

/* SIDEBAR STYLING */
.sidebar {
  transform: translate(-100%);
  width: fit-content;
  height: calc(100svh - 8rem + 0.1rem);
  position: absolute;
  top: calc(8rem - 0.1rem);
  left: 0;
  background: var(--component-background);
  box-shadow: var(--shadow-on-dark);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}
.open.sidebar {
  transform: translate(0);
}

.sidebar_container {
  padding: 3.2rem 1.6rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user-profile_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile_img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  box-shadow: var(--shadow-on-dark);
}

.user-profile_name {
  font-size: 1.6rem;
}
.user-profile_email {
  max-width: 100%;
}

.sidebar-nav {
  flex: 1;
  margin-top: 3.2rem;
}

.sidebar-nav_list-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--heading-on-dark);
  font-size: 1.6rem;
  font-weight: 700;
  font-family: var(--primary-font);
  line-height: 4.4rem;
}

.sidebar-nav_list-item-icon {
  width: 2rem;
  height: 2rem;
  color: white;
}

/* DASHBOARD HOME PAGE */
.dashboard-container {
  height: calc(100svh - 8rem);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem;
}

.dashboard-page_heading {
  height: 10rem;
  padding: 3.2rem 0;
}

.dashboard-page_heading h1 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--heading-on-dark);
}

.dashboard-content_latest-news-col {
  box-shadow: var(--shadow-on-dark);
  padding: 1.6rem;
  border-radius: 9px;
}

.dashboard-content_latest-news-col h2 {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--heading-on-dark);
  margin-bottom: 0.8rem;
}

.dashboard-content_latest-news-col_news-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.dashboard-content_latest-news-col_news-item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.dashboard-content_latest-news-col_news-item span {
  width: 15%;
  font-size: 1.2rem;
  color: #990038;
  font-family: var(--primary-font);
}
.dashboard-content_latest-news-col_news-item a {
  width: 85%;
  font-size: 1.6rem;
  font-weight: 400;
}

/* DASHBOARD CREATE USER PAGE */
.create-user-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
}

.create-user-form_double-input-container {
  display: flex;
  gap: 2.4rem;
}

.create-user-form_input-container,
.create-user-form_select-container {
  width: 100%;
  position: relative;
}

.create-user-form_input-container label,
.create-user-form_select-container label {
  position: absolute;
  left: 1.6rem;
  color: var(--text-on-dark);
  font-family: var(--primary-font);
}

.create-user-form_input-container label {
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.create-user-form_select-container label {
  top: -0.7rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.create-user-form_input-container input:focus + label,
.create-user-form_input-container input:not(:placeholder-shown) + label {
  font-size: 1.2rem;
  top: 0;
}

.create-user-form_select-container select {
  -webkit-appearance: none;
  font-weight: 600;
}

.create-user-form_input-container button {
  background-color: #990038;
}

.create-user-form_input-container input {
  font-weight: 400;
}

.create-user-form_select-container select,
.create-user-form_input-container input {
  background: var(--component-background);
}

.create-user-form_input-container button,
.create-user-form_input-container input,
.create-user-form_select-container select {
  width: 100%;
  box-shadow: var(--shadow-on-dark);
  border-radius: 0.9rem;
  padding: 1rem 1.6rem;
  font-family: var(--primary-font);
  font-size: 1.6rem;
  color: var(--text-on-dark);
  outline: none;
  border: none;
}

.create-user-form_select-icon {
  position: absolute;
  top: 50%;
  right: 1.6rem;
  transform: translateY(-50%);
  color: var(--text-on-dark);
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  border: 1px solid #999;
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #151718 inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  .dashboard-header_profile-img-container figcaption {
    display: block;
    color: var(--text-on-dark);
    font-family: var(--primary-font);
    font-size: 1.4rem;
    font-weight: 700;
  }
}
