@import url("https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: "Raleway", sans-serif;
  --secondary-font: "Padauk", sans-serif;
  --dark-background: #121212;
  --heading-on-dark: #efefef;
  --text-on-dark: #c7c7c7;

  /* Shadows */
  --shadow-on-dark: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
    0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
}

html {
  font-size: 10px;
}

body {
  background-color: var(--dark-background);
  max-width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-on-dark);
  font-family: var(--primary-font);
}

p,
li {
  color: var(--text-on-dark);
  font-family: var(--secondary-font);
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  color: var(--heading-on-dark);
  font-size: 1.6rem;
}

/* GENERAL STYLES */
.logout-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--heading-on-dark);
  font-size: 1.6rem;
  font-family: var(--primary-font);
  font-weight: 700;
  cursor: pointer;
}
.logout-btn-icon {
  width: 2rem;
  height: 2rem;
  color: var(--heading-on-dark);
}
